Repository xakepnz/enterpriseattack: changes, and which GitLab CI jobs are due for each by the changed paths.
All: renovate, deploy, renovate-config-validator, flake8, isort, black, markdownlint, pyenv

Path conditions:
  renovate: any of: renovate.json
  deploy: any of: setup.py, enterpriseattack/*
  renovate-config-validator: any of: renovate.json
  flake8: any of: *.py, **/*.py
  isort: any of: *.py, **/*.py
  black: any of: *.py, **/*.py
  markdownlint: any of: *.md, **/*.md
  pyenv: any of: *.py, **/*.py

chore: Update typo on bool type hint
  enterpriseattack/utils.py
Due: deploy, flake8, isort, black, pyenv

chore: Remove pre-commit for python-semantic-release
  .gitlab/.gitlab-ci.yml
Due: none

chore: Revert python3 to python in python-semantic-release
  .gitlab/.gitlab-ci.yml
Due: none

chore: Source venv path in python-semantic-release
  .gitlab/.gitlab-ci.yml
Due: none

chore(release): bump version to 1.0.2
  CHANGELOG.md
  enterpriseattack/__init__.py
  pyproject.toml
Due: deploy, flake8, isort, black, markdownlint, pyenv

refactor: Add type hints & docstrings to tactic.py
  enterpriseattack/tactic.py
Due: deploy, flake8, isort, black, pyenv

chore(releases): Add GitHub releases on tag pushes
  .github/workflows/release.yml
Due: none

refactor: Add type hints and docstrings to sub_technique.py
  enterpriseattack/sub_technique.py
Due: deploy, flake8, isort, black, pyenv

refactor: Add type hints & docstrings to software.py
  enterpriseattack/software.py
Due: deploy, flake8, isort, black, pyenv

refactor: Add docstrings & type hints to mitigation.py
  enterpriseattack/mitigation.py
Due: deploy, flake8, isort, black, pyenv

refactor: Add docstrings & type hints to group.py
  enterpriseattack/group.py
Due: deploy, flake8, isort, black, pyenv

refactor: reduce comment lines
  enterpriseattack/tactic.py
Due: deploy, flake8, isort, black, pyenv

refactor: Add docstrings & type hints to technique.py
  enterpriseattack/technique.py
Due: deploy, flake8, isort, black, pyenv

refactor: Add docstrings & type hints to data_source.py
  enterpriseattack/data_source.py
Due: deploy, flake8, isort, black, pyenv

refactor: Add docstrings & type hints to component.py
  enterpriseattack/component.py
Due: deploy, flake8, isort, black, pyenv

refactor: Add docstrings & type hints to campaign.py
  enterpriseattack/campaign.py
Due: deploy, flake8, isort, black, pyenv

refactor: Add docstrings & type hints to __init__.py
  .pre-commit-config.yaml
  enterpriseattack/__init__.py
Due: deploy, flake8, isort, black, pyenv

fix: Update setup.py to extract version & run black
  setup.py
Due: deploy, flake8, isort, black, pyenv

chore(ci): Update isort to use Black format
  .gitlab/.gitlab-ci.yml
Due: none

chore(release): bump version to 1.0.3
  CHANGELOG.md
  enterpriseattack/__init__.py
  pyproject.toml
Due: deploy, flake8, isort, black, markdownlint, pyenv
